body {
  font-family: "Roboto", sans-serif;
  color: #363958;
}
.font-bebas {
  font-family: "Bebas Neue", cursive;
}
.container-bg {
  background-color: #fff9f4;
}
.nav-logo img {
  width: 50px;
}
.span1 {
  color: #fa804c;
}
.span2 {
  color: #363958;
}
.nav-textstyle a {
  color: #3c3c3c;
  margin-left: 40px;
  font-weight: 600;
}
.hero-part img {
  width: 80%;
}
.hero-part2 h2 {
  font-size: 75px;
  line-height: 70px;
}
p {
  font-size: 15px;
  margin-bottom: 25px;
  color: rgb(22, 22, 22);
}
.btn-custom {
  background: linear-gradient(to bottom, #3d4ff3 0%, #3543bc 100%);
  outline: none;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s linear;
}
.btn-custom:hover {
  box-shadow: 2px 2px 5px gray;
}
.btn-custom h6 {
  font-size: 14px;
}
.btn-custom img {
  width: 25px;
  margin-right: 7px;
}
.top-margin {
  margin-top: 40px;
}
.heading {
  font-size: 45px;
}
.card-bg {
  background: rgba(156, 154, 154, 0.15);
  border-radius: 20px;
}
.card-bg img {
  width: 90%;
}
.card-custom {
  padding: 16px;
  border-radius: 10px;
  border: none;
}
.card-fond {
  font-size: 20px;
  font-weight: bolder;
}
.card-bottom {
  border: none;
  margin-top: -35px;
  background: white;
}
.card-bottom h2 {
  margin-right: 50px;
}
.service-bg img {
  width: 100%;
  padding-left: 50px;
}
.border1 {
  border: 1px solid red;
}
.service-body {
  margin: 150px 0;
}
.service-img img {
  width: 70px;
}
.service-item {
  display: flex;
  justify-content: space-evenly;
  background: rgba(246, 245, 243, 0.733);
  padding: 5px 10px;
  margin: 12px 0;
  border-radius: 10px;
}
.service-text h4 {
  font-weight: bolder;
  margin-bottom: 14px;
}
.inverse-col {
  display: flex;
}

.bottom-bg {
  background: rgb(245, 243, 240);
}
.selling-img {
  height: 70px;
  width: 90px;
  background: rgb(197, 213, 221);
  margin-right: 30px;
  border-radius: 5px;
}
.selling-img img {
  width: 80%;
}
.selling-img2 {
  height: 70px;
  width: 90px;
  background: rgb(197, 213, 221);
  margin-right: 30px;
  border-radius: 5px;
}
.selling-img2 img {
  width: 100%;
}
.filled {
  color: #fa804c;
}
.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-list ul li {
  list-style: none;
  padding: 7px 0;
}
.center-part {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 575.98px) {
  .inverse-row {
    display: flex;
    flex-direction: row-reverse;
  }
  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center-part {
    justify-content: center;
  }
}
